<div class="left">
<h3 class="header2"> New Recipe </h3>

  <form action="/recipes" method="post" role="form">
    <div class="col-md-4">
    <div class="form-group">
      <label for="recipe_name"> Name: </label>
      <input id="recipe_name" class="form-control" name="recipe[name]" type="text" placeholder="Type here.." >
      <label for="recipe_ingredients"> Ingredients: </label>
      <input id="recipe_name" class="form-control" name="recipe[ingredients]" type="text" placeholder="(e.g.) 2x Corn-cobs, 1 Cup Butter, 3 Tsp Salt..." >
      <label for="recipe_content"> Directions: </label>
      <textarea id="recipe_content" class="form-control" name="recipe[content]" type="text" rows="10" placeholder="Type here.."></textarea>
      <label for="tag"> Tags: </label>
      <input id="tag" class="form-control" name="tag" type="text" placeholder="(e.g.) #breakfast #delicious.." >
    </div>
    <select name="recipe[rating]" class="selectpicker">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" >5</option>
      <option value="" selected="selected">Select Rating</option>
    </select>
  <div class="button">
    <button type="submit" class="btn btn-success">Add!</button>
  </div>
  </form>
</div>




