header {
  text-align: center;
  background-color:#56C77C;
  color:white;
  padding-bottom:20px;
}

header li {
  text-decoration: none;
}

body {
  background-color: #FFCA6B;
  color:#235233;
  font-family: 'Lora', serif;
}

h1 {
  font-family: 'Lobster';
  /* Add backup font*/
  font-size: 5em;
  letter-spacing: 2px;
}

li {
  list-style: none;
  font-size:1.4em
}

#notice {
  text-align: center;
  background-color:#3788D4;
  color:white;
}

.alert {
  text-align: center;
  background-color:#E85453;
  color:white;
  font-size:0.8em;
  padding:0;
}

.italic {
  font-style: italic;
}

.header1 {
  padding-top:50px;
  padding-left:20px;
  padding-bottom:20px;
}

#recipe_lib {
  text-align: center;
}

.josefin {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em
}

.center {
  text-align: center;
  padding-top:50px;
  padding-left:20px;
  padding-right:20px;
}

.left {
  text-align: left;
  padding:2.5%;
}

ul.nav a:hover {
  color: #6A9DBD !important;
}

#butter {
  border-radius:30px;
  background-color: #FFEDA3;
  width:300px;
  min-height:500px;
  margin-top:50px;
  margin-left:auto;
  margin-right:auto;
  padding-right:30px;
}

.butter-slab {
  border-radius:30px;
  background-color: #FFEDA3;
  min-height:500px;
  float:left;
  width:270px;
  margin:1.5%;
}

.underline {
  text-decoration: underline;
  padding-top:7px;
}

.link {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
  letter-spacing: 2px;
}

.fancy {
  font-family: 'Lobster';
  font-size:2em;
}

.button {
  margin-top:15px;
}

#rating {
  margin-top:50px;
  margin-left:45px;
}

.top_circle{
     height:13px;
     width:26px;
     border-radius: 90px 90px 0 0;
     background:white;
     margin-left:4.2px;
}

.bot_circle{
     height:13px;
     width:26px;
     border-radius: 0 0 90px 90px;
     background:white;
}

.glyphicon-star {
  font-size: 1.5em;
}

.glyphicon-th {
  font-size: 2em;
}

.bottom_border {
  border-bottom: 1px solid #D4C594;
}

#corn {
  border-radius:50px;
  width:40px;
  height:60px;
}

.push_down {
  margin-top:15px;
}

#list-recipes {
  color: #235233;
}

#list-recipes:hover {
  color: #3FC769;
  font-style: bold;
}

.bettah-buttah {
  border-radius:30px;
  background-color: #FFEDA3;
  width:70%;
  min-height:500px;
  margin-top:50px;
  margin-left:auto;
  margin-right:auto;
  padding-right:30px;
}

.inner-buttah {
  text-align: center;
  padding-top:10px;
}

.bold-me {
  font-weight: 700;
  padding-top:15px;
}

#show-rating {
  text-align: center;
}

#edit-delete {
  text-align:center;
  padding-top:200px;
  padding-bottom:10px;
  padding-left:60px;
}

#results {
  font-size:3em
}
